@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Montserrat;
  font-weight: bold;
  text-align: left;
  color: #ffacbb;
  line-height: 20%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

h2 {
  font-weight: normal;
  color: #52648e;
  font-family: Montserrat;
  text-align: left;
  line-height: 20%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2rem;

}

p {
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9rem;
  color: #52648e;
  letter-spacing: 0.2rem;
  text-align: center;
}

/*Header*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem;
}

.logo {
  margin-top: 2rem;
}

.logo img {
  width: 50%;
  height: auto;
}

.overskrift {
  /*box-sizing: border-box;*/
  margin-top: 2rem;
}

.overskrift1 {}

.overskrift2 {}



/*Navigation og main*/

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem;
}

.nav {
  margin: 3rem 3rem 0rem 1rem;
  display: flex;
  justify-content: flex-start;
}

.nav  ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: Courier;
  text-align: right;
  flex-direction: column;
  line-height: 2;
}

.nav a {
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: #52648e;
}

.nav li {
  margin: 0.4rem 0rem 0.4rem 0rem;
}

.nav a:hover {
  background-color: #f6d7c3;
}

#siden {
  text-decoration: underline;
}

.boks {
  display: flex;
  flex-direction: row;
  margin: 3rem 0 0 2rem;
}

.boks a {
  text-decoration: none;
}

.boks1 {
  height: 15rem;
  width: 15rem;
  background-color: #fed7dd;;
  margin: 0 3rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.boks1:hover {
  background-color: #c8d5f6;
}

.boks2 {
  height: 15rem;
  width: 15rem;
  background-color: #fed7dd;;
  margin: 0 3rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.boks2:hover {
  background-color: #c8d5f6;
}

.boks3 {
  height: 15rem;
  width: 15rem;
  background-color: #fed7dd;;
  margin: 0 3rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.boks3:hover {
  background-color: #c8d5f6;
}



/*Footer*/

.footer {
  background-color: #c8d5f6;
  height: 5rem;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


.socials {
  display: flex;
  align-content: space-between;
  flex-direction: column;
}


.socials > p {
  font-family: Courier;
  color: #52648e;
  text-transform: uppercase;
  width: auto;
  height: 0.5rem;
  margin: auto;
  padding: 0.5rem;
}


.socials > ul {
  display: flex;
  width: auto;
  height: 2rem;
  margin: auto;
  padding: 0.5rem;
}


.socialicon {
  list-style: none;
}


.socialicon a {
  color: #52648e;
  font-size: 2rem;
  padding: 0.5rem 1.3rem;
}


.socialicon a:hover {
  color: #FFACBB;
}

/*Om mig*/

.ommigboks {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}

.ommigboks p {
  font-weight: normal;
  text-align: left;
}

.smil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.smilbillede {
  height: 6.25rem;
  width: 6.25rem;
}

.smiltekst {
  height: auto;
  width: 50rem;
  line-height: 1.8;
}

.pærer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pærerbillede {
  height: 6.25rem;
  width: 6.25rem;
}

.pærertekst {
  height: auto;
  width: auto;
  line-height: 1.8;
}

.guitar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.guitarbillede {
  height: 6.25rem;
  width: 6.25rem;
}

.guitartekst {
  height: auto;
  width: auto;
  line-height: 1.8;
}
